/.phpunit.cache
/.phpunit.result.cache

# Dépendances et builds
/node_modules
/vendor
/public/build
/public/hot

# Stockage et cache
/public/storage
/storage/*
!storage/.gitignore
/bootstrap/cache/*
!bootstrap/cache/.gitignore

# Environnements et secrets
.env
.env.*
/auth.json

# Logs et erreurs
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
.DS_Store

# Éditeurs et outils spécifiques
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
